USE [PracticaS13]
GO
/****** Object:  StoredProcedure [dbo].[CargarComprasPendientes]    Script Date: 12/8/2025 11:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CargarComprasPendientes]
AS
BEGIN
    SELECT 
        Id_Compra,
        Descripcion,
        Precio,
        Saldo,
        Estado
    FROM Principal
    WHERE Estado = 'Pendiente'
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerSaldo]    Script Date: 12/8/2025 11:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerSaldo]
    @Id_Compra BIGINT
AS
BEGIN
    SELECT Saldo
    FROM Principal
    WHERE Id_Compra = @Id_Compra
END
GO
/****** Object:  StoredProcedure [dbo].[ProductosPorEstado]    Script Date: 12/8/2025 11:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductosPorEstado]
AS
BEGIN
    SELECT 
        Id_Compra,
        Descripcion,
        Precio,
        Saldo,
        Estado
    FROM Principal
    WHERE Estado IS NOT NULL
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarAbono]    Script Date: 12/8/2025 11:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[RegistrarAbono]
    @IdCompra INT,
    @MontoAbono DECIMAL(18, 2)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SaldoActual DECIMAL(18, 5);

    SELECT @SaldoActual = Saldo FROM Principal WHERE Id_Compra = @IdCompra;

    IF @SaldoActual IS NULL
    BEGIN
        RAISERROR('Compra no encontrada.', 16, 1);
        RETURN;
    END

    IF @MontoAbono > @SaldoActual
    BEGIN
        RAISERROR('El monto del abono excede el saldo actual.', 16, 1);
        RETURN;
    END

    BEGIN TRANSACTION;

    BEGIN TRY
        -- Insertar el abono con la fecha actual
        INSERT INTO Abonos (Id_Compra, Monto, Fecha)
        VALUES (@IdCompra, @MontoAbono, GETDATE());

        -- Actualizar el saldo
        UPDATE Principal
        SET Saldo = Saldo - @MontoAbono
        WHERE Id_Compra = @IdCompra;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

GO
